@font-face {
  font-family: 'Impact';
  font-weight: 700;
  src: url('fonts/impact.ttf') format('truetype');
}

html, body {
  background-color: #111;
  color: #fff;

  font-size: 18px;

  margin: 0;
  padding: 0;
}

header {
  background-color: #222;

  text-align: center;
  color: white;
  font-family: Impact;
  font-size: 2em;
}

header h1 {
  margin: 0;
  padding: 0;
}

hr {
  width: 50%;
  height: 1px;
  
  border: none;
  background: linear-gradient(
    to right,
    #00000000 0%,
    #ffffff 30%,
    #ffffff 70%,
    #00000000 100%
  );
}

div.center {
  text-align: center;
}

div.container {
  display: inline-block;
  vertical-align: top;
}

div.content {  
  display: inline-block;

  margin: 1em;
  padding: 0.5em;
  
  background-color: #222;
  box-shadow: 0.3em 0.3em #fff;

  font-family: Impact;
}

div.content p {
  font-family: initial;
}

div.content a {
  display: inline-block;
  color: #fff;
  text-decoration: none;

  margin: 0.2em;
  padding: 0.5em;

  background-color: #444;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.1em #fff;

  text-align: center;
  vertical-align: middle;
}


div.content a:hover {
  background-color: #555;
}

div.content i {
  font-size: 1.5em;
}